<mat-toolbar color="primary" class="header">
  <button mat-button class="m-0" routerLink="/">IndicatorsManagerApp</button>
  <div *ngIf="isAdminLoggedIn()">
    <button mat-button [matMenuTriggerFor]="management">Management</button>
    <button mat-button [matMenuTriggerFor]="reports">Reports</button>
  </div>
  <div *ngIf="isManagerLoggedIn()">
    <button mat-button routerLink="/">Active Indicators</button>
    <button mat-button routerLink="/indicator/config">My Indicators</button>
  </div>
  <div class="btn-logout mr-4">
    <button mat-button [disabled]="currentUser.role === 'Manager'" routerLink="/users/{{currentUser.id}}">{{currentUser.name}} {{currentUser.lastName}}</button>
    <button mat-button (click)="logout()">
      <mat-icon class="mr-2">exit_to_app</mat-icon>Logout
    </button>
  </div>
  
  <mat-menu #management="matMenu">
    <button mat-menu-item [matMenuTriggerFor]="users">Users</button>
    <button mat-menu-item [matMenuTriggerFor]="areas">Areas</button>
    <button mat-menu-item [matMenuTriggerFor]="indicators">Indicators</button>
  </mat-menu>

  <mat-menu #users="matMenu">
    <button mat-menu-item routerLink="/users">All Users</button>
    <button mat-menu-item routerLink="/users/add">Add New User</button>
  </mat-menu>

  <mat-menu #areas="matMenu">
    <button mat-menu-item routerLink="/areas">All Areas</button>
    <button mat-menu-item routerLink="/areas/add">Add New Area</button>
    <button mat-menu-item routerLink="/areas/managers">Manager Assignment</button>
  </mat-menu>

  <mat-menu #indicators="matMenu">
    <button mat-menu-item routerLink="/importer">Import Indicators</button>
  </mat-menu>

  <mat-menu #reports="matMenu">
    <button mat-menu-item routerLink="/reports/hidden-indicators">Top Hidden Indicators</button>
    <button mat-menu-item routerLink="/reports/frequent-users">Most Frequent Logged in Users</button>
    <button mat-menu-item routerLink="/reports/log">Show Log</button>
  </mat-menu>
</mat-toolbar>