  <div class="mt-5 container">
    <div class="row mt-5">
      <div class="col">
          <h2 class="title">Most Frequent Managers</h2>
      </div>
    </div>
  </div>
  <div class="row wrapper">
      <app-error-message *ngIf="errorMessage" [message]="errorMessage"></app-error-message>
  </div>

  <div class="container">
    <div class="example-container wrapper">  
      <div  class="example-list" >
        <div class="pl-5 pr-5 header">
            <div class="col-1 m-0 p-0">
              <mat-icon class="m-0 p-0">person</mat-icon>    
            </div>
            <div class="col"><span>Name</span></div>
            <div class="col"><span>Last Name</span></div>
            <div class="col"><span>Username</span></div>
            <div class="col"><span>Email</span></div>
        </div>
        <div class="example-box pl-5 pr-5 no-header" *ngFor="let item of users" >
            <div class="col-1 m-0 p-0"></div>
            <div class="col"><span>{{item.name}}</span></div>
            <div class="col"><span>{{item.lastName}}</span></div>
            <div class="col"><span>({{item.username}})</span></div>
            <div class="col"><span>{{item.email}}</span></div>
        </div>
      </div>
    </div>
  </div>

