<mat-card>
  <mat-card-title>Add New Condition</mat-card-title>
  <div class="row">
    <div class="col">
      <label *ngIf="currentExpression">Current Expression: {{currentExpression}}</label>
      <app-error-message *ngIf="errorMessage" [message]="errorMessage"></app-error-message>
    </div>
  </div>
  <div class="row mb-5">
    <div class="col-10">
        <mat-form-field class="example-full-width inputName" >     
          <input matInput placeholder="Enter condition colour....." [formControl]="conditionName">
          <mat-error *ngIf="conditionName.hasError('required')">Field is <strong>required</strong></mat-error>
        </mat-form-field>
    </div>
    <div class="col margin-auto">
      <button mat-raised-button color="primary" 
        [disabled]="!isValidCondition()" 
        (click)="createItemIndicator()">Save</button>
    </div>
</div>
      
  
  
<mat-card>
  <mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
  <mat-tree-node *matTreeNodeDef="let node">
    <button id="node-{{node.item}}" mat-icon-button matTreeNodeToggle>
      <mat-icon class="mat-icon-rtl-mirror">
        {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
      </mat-icon>
    </button>
    <div class="col-sm-2">
      <label>{{node.item}}</label>
    </div>
    <div class="col-sm-8 dropdown">
      <app-condition-dropdown 
        [node]="node"
        [nodeType]="getNodeSelectedConditionType(node)"
        (updateNode)="updateNode($event)"
        (operatorItemChange)="updateOperatorSelection($event, node)"
        (inputValue)="updateInputNode($event)"
        >
      </app-condition-dropdown>
    </div>
    </mat-tree-node>  
  </mat-tree>
</mat-card>
</mat-card>