<mat-card>
  <mat-card-title>Add New Condition</mat-card-title>
  <button (click)="showData()">EVALUATE</button>
  <label>Current Expression: {{currentExpression}}</label>

  <mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
  <mat-tree-node *matTreeNodeDef="let node">
    <button id="node-{{node.item}}" mat-icon-button matTreeNodeToggle>
      <mat-icon class="mat-icon-rtl-mirror">
        {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
      </mat-icon>
    </button>
    <div class="col-sm-2">
      <label>{{node.item}}</label>
    </div>
    <div class="col-sm-8 dropdown">
      <app-condition-dropdown 
        [node]="node"
        [nodeType]="getNodeSelectedConditionType(node)"
        (updateNode)="updateNode($event)"
        (operatorItemChange)="updateOperatorSelection($event, node)"
        (inputValue)="updateInputNode($event)"
        >
      </app-condition-dropdown>
    </div>
    </mat-tree-node>  
  </mat-tree>
</mat-card>