<div class="login">
    <h2>Login</h2>
    <div class="login-container">
      <div class="wapper">
          <mat-form-field>
            <input matInput placeholder="Username" [formControl]="username" (keyup.enter)="isFormInvalid() ? null : login()">
            <mat-error *ngIf="username.invalid">{{getUsernameErrorMessage()}}</mat-error>
          </mat-form-field>
      </div>
      <div class="wapper">
        <mat-form-field>
            <input matInput placeholder="Password" [formControl]="password" (keyup.enter)="isFormInvalid() ? null : login()">
            <mat-error *ngIf="password.invalid">{{getPasswordErrorMessage()}}</mat-error>
          </mat-form-field>
      </div>
      <div class="wrapper error-msg">
          <mat-error color="warn" *ngIf="errorMessage">{{errorMessage}}</mat-error>
      </div>
      <div class="wapper">
        <button mat-raised-button color="primary" 
          [disabled]="isFormInvalid()" (click)="login()">Login</button>
      </div>
    </div>
</div>
  