DROP TABLE IF EXISTS [SUPPLIER]
GO
DROP TABLE IF EXISTS [PRODUCT]
GO
DROP TABLE IF EXISTS [ORDERSLINE]
GO
DROP TABLE IF EXISTS [ORDERS]
GO
DROP TABLE IF EXISTS [ITEM]
GO
DROP TABLE IF EXISTS [CATEGORY]
GO
DROP TABLE IF EXISTS [BANNERDATA]
GO
DROP TABLE IF EXISTS [ACCOUNT]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ACCOUNT](
	[UserId] [nvarchar](80) NOT NULL,
	[UserLastName] [nvarchar](80) NOT NULL,
	[UserAddress] [nvarchar](80) NOT NULL,
	[UserCity] [nvarchar](80) NOT NULL,
	[UserCountry] [nvarchar](20) NOT NULL,
	[UserPhone] [nvarchar](80) NOT NULL,
	[LangPref] [nvarchar](80) NOT NULL,
	[FavCategory] [nvarchar](80) NULL
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [BANNERDATA](
	[FavCategory] [nvarchar](80) NOT NULL,
	[BannerName] [nvarchar](80) NULL
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [CATEGORY](
	[CatId] [smallint] NOT NULL,
	[CatName] [nvarchar](80) NULL
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ITEM](
	[ItemId] [nvarchar](10) NOT NULL,
	[ProductId] [nvarchar](10) NOT NULL,
	[ItemListPrice] [money] NULL,
	[ItemUnitCost] [money] NULL,
	[SuppId] [int] NULL,
	[ItemDescription] [nvarchar](80) NULL,
	[ItemQty] [int] NOT NULL,
	[ItemStatus] [nchar](1) NULL
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ORDERS](
	[OrderId] [int] NOT NULL,
	[UserId] [nvarchar](80) NOT NULL,
	[OrderDate] [datetime] NOT NULL,
	[ShipAddress] [nvarchar](80) NOT NULL,
	[ShipCity] [nvarchar](80) NOT NULL,
	[ShipCountry] [nvarchar](20) NOT NULL
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ORDERSLINE](
	[OrderId] [int] NOT NULL,
	[ItemId] [nvarchar](10) NOT NULL,
	[LineQuantity] [int] NOT NULL,
	[LinePrice] [money] NOT NULL
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [PRODUCT](
	[ProductId] [nvarchar](10) NOT NULL,
	[CatId] [smallint] NOT NULL,
	[ProductName] [nvarchar](80) NULL,
	[ProductDescription] [nvarchar](254) NULL
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [SUPPLIER](
	[SuppId] [int] NOT NULL,
	[SuppName] [nvarchar](80) NOT NULL,
	[SuppAddress] [nvarchar](80) NULL,
	[SuppCity] [nvarchar](80) NULL,
	[SuppPhone] [nvarchar](80) NULL
) ON [PRIMARY]
GO
INSERT [ACCOUNT] ([UserId], [UserLastName], [UserAddress], [UserCity], [UserCountry], [UserPhone], [LangPref], [FavCategory]) VALUES (N'ALFKI', N'Maria Anders', N'Obere Str. 57', N'Berlin', N'Germany', N'030-0074321', N'German', N'Cats')
INSERT [ACCOUNT] ([UserId], [UserLastName], [UserAddress], [UserCity], [UserCountry], [UserPhone], [LangPref], [FavCategory]) VALUES (N'ANATR', N'Ana Trujillo', N'Avda. de la Constitución 2222', N'México D.F.', N'Mexico', N'(5) 555-4729', N'Spanish', N'Birds')
INSERT [ACCOUNT] ([UserId], [UserLastName], [UserAddress], [UserCity], [UserCountry], [UserPhone], [LangPref], [FavCategory]) VALUES (N'ANTON', N'Antonio Moreno', N'Mataderos  2312', N'México D.F.', N'Mexico', N'(5) 555-3932', N'Spanish', N'Cats')
INSERT [BANNERDATA] ([FavCategory], [BannerName]) VALUES (N'Birds', N'Banner birds')
INSERT [BANNERDATA] ([FavCategory], [BannerName]) VALUES (N'Cats', N'Banner cats')
INSERT [BANNERDATA] ([FavCategory], [BannerName]) VALUES (N'Dogs', N'Banner dogs')
INSERT [CATEGORY] ([CatId], [CatName]) VALUES (1, N'Birds')
INSERT [CATEGORY] ([CatId], [CatName]) VALUES (2, N'Cats')
INSERT [CATEGORY] ([CatId], [CatName]) VALUES (3, N'Dogs')
INSERT [ITEM] ([ItemId], [ProductId], [ItemListPrice], [ItemUnitCost], [SuppId], [ItemDescription], [ItemQty], [ItemStatus]) VALUES (N'EST-1', N'FI-SW-01', 14.4000, 10.0000, 4, N'Large', 5000, N'S')
INSERT [ITEM] ([ItemId], [ProductId], [ItemListPrice], [ItemUnitCost], [SuppId], [ItemDescription], [ItemQty], [ItemStatus]) VALUES (N'EST-10', N'K9-DL-01', 24.8000, 12.0000, 7, N'Spotted Adult Female', 3500, N'R')
INSERT [ITEM] ([ItemId], [ProductId], [ItemListPrice], [ItemUnitCost], [SuppId], [ItemDescription], [ItemQty], [ItemStatus]) VALUES (N'EST-11', N'RP-SN-01', 14.0000, 12.0000, 30, N'Venomless', 10000, N'P')
INSERT [ORDERS] ([OrderId], [UserId], [OrderDate], [ShipAddress], [ShipCity], [ShipCountry]) VALUES (1, N'VINET', CAST(N'1996-07-04T00:00:00.000' AS DateTime), N'59 rue de l''Abbaye', N'Reims', N'France')
INSERT [ORDERS] ([OrderId], [UserId], [OrderDate], [ShipAddress], [ShipCity], [ShipCountry]) VALUES (2, N'TOMSP', CAST(N'1996-07-05T00:00:00.000' AS DateTime), N'Luisenstr. 48', N'Münster', N'Germany')
INSERT [ORDERS] ([OrderId], [UserId], [OrderDate], [ShipAddress], [ShipCity], [ShipCountry]) VALUES (4, N'VICTE', CAST(N'1996-07-08T00:00:00.000' AS DateTime), N'2, rue du Commerce', N'Lyon', N'France')
GO
INSERT [ORDERSLINE] ([OrderId], [ItemId], [LineQuantity], [LinePrice]) VALUES (1, N'EST-11', 12, 14.0000)
INSERT [ORDERSLINE] ([OrderId], [ItemId], [LineQuantity], [LinePrice]) VALUES (2, N'EST-14', 9, 18.6000)
INSERT [ORDERSLINE] ([OrderId], [ItemId], [LineQuantity], [LinePrice]) VALUES (4, N'EST-22', 6, 16.8000)
GO
INSERT [PRODUCT] ([ProductId], [CatId], [ProductName], [ProductDescription]) VALUES (N'AV-CB-01', 1, N'Amazon Parrot', N'Great companion for up to 75 years')
INSERT [PRODUCT] ([ProductId], [CatId], [ProductName], [ProductDescription]) VALUES (N'AV-SB-02', 1, N'Finch', N'Great stress reliever')
INSERT [PRODUCT] ([ProductId], [CatId], [ProductName], [ProductDescription]) VALUES (N'FI-FW-01', 4, N'Koi', N'Fresh Water fish from Japan')
INSERT [SUPPLIER] ([SuppId], [SuppName], [SuppAddress], [SuppCity], [SuppPhone]) VALUES (1, N'Pets supply', N'49 Gilbert St.', N'London', N'(171) 555-2222')
INSERT [SUPPLIER] ([SuppId], [SuppName], [SuppAddress], [SuppCity], [SuppPhone]) VALUES (2, N'New Orleans Cajun Delights', N'P.O. Box 78934', N'New Orleans', N'(100) 555-4822')
INSERT [SUPPLIER] ([SuppId], [SuppName], [SuppAddress], [SuppCity], [SuppPhone]) VALUES (3, N'Grandma Kelly''s Homestead', N'707 Oxford Rd.', N'Ann Arbor', N'(313) 555-5735')
